@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
outline: none;
box-sizing: border-box;
}
body {
/* background-image: linear-gradient(
0deg,
rgba(247, 247, 247, 1) 23.8%,
rgba(252, 221, 221, 1) 92%
); */
background-color: transparent;
font-family: "Open Sans", sans-serif;
margin: 0;
height: 100vh;
display: flex;
align-items: flex-start;
justify-content: flex-end;
margin-left: 10px;
margin-bottom: -10px;
flex-direction: column;
}
.music-container {
border-radius: 15px;
box-shadow: 0 20px 20px 0 rgba(201, 87, 189, 0.4);
display: flex;
padding: 10px 20px;
position: relative;
margin: 100px 0;
z-index: 10;
animation: changeBackgroundColor 7s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: rgba(201, 87, 189, 0.4);
  }
  100% {
    background-color: #fff;
  }
}

.img-container {
position: relative;
width: 80px;
}
.img-container::after {
content: "";
background-color: #fff;
border-radius: 50%;
position: absolute;
bottom: 100%;
left: 50%;
width: 10px;
height: 10px;
transform: translate(-100%, 100%);
box-shadow: 0 0 0px 10px #000;
}
.img-container img {
border-radius: 50%;
object-fit: cover;
height: 80px;
width: inherit;
position: absolute;
bottom: 5px;
left: -5px;
animation: rotate 3s linear infinite;
animation-play-state: paused;
}
.music-container.play .img-container img {
animation-play-state: running;
}
@keyframes rotate {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
.navigation {
display: flex;
align-items: center;
justify-content: center;
z-index: 1;
border-radius: 10px;
background-color: #fff;
box-shadow: 0 0 0px 1px rgba(201, 87, 189, 0.4);
/* animation: changeBackgroundColor 7s infinite; */
}
.action-btn {
background-color: transparent;
border: 0;
color: rgba(201, 87, 189, 0.4);
font-size: 20px;
cursor: pointer;
padding: 10px;
margin: 0 20px;
}
.action-btn.action-btn-big {
color: rgba(201, 87, 189, 0.4);
font-size: 30px;

}

.action-btn:hover , .action-btn-big:hover {
  color: #e95aae;
}

.music-info {
background-color: rgba(201, 87, 189, 0.4);
width: calc(100% - 40px);
padding: 10px 10px 10px 150px;
border-radius: 15px 15px 0px 0px;
position: absolute;
top: 0;
left: 20px;
opacity: 0;
transform: translateY(0%);
transition: transform 0.3s ease-in, opacity 0.3s ease-in;
z-index: 0;
}
.music-container.play .music-info {
opacity: 1;
transform: translateY(-100%);
}
.music-info h4 {
  color: #fff;
margin: 0;
}
.progress-container {
background-color: #fff;
border: 5px;
cursor: pointer;
margin: 10px 0;
height: 4px;
width: 100%;
}
.progress {
background-color: rgba(201, 87, 189, 0.4);
border-radius: 5px;
height: 100%;
width: 0%;
transform: width 0.1s linear;

}

.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25px;
    left: -30px;
    margin-bottom: 10px;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }
  .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }